.vscode/settings.json
task3/solution/SharedMemory/shm_client
task3/solution/SharedMemory/shm_server
task3/solution/SharedMemory/obj/shm_client.o
task3/solution/SharedMemory/obj/shm_server.o
task3/solution/MessageQueues/msq_client
task3/solution/MessageQueues/msq_server
task3/solution/MessageQueues/obj/msq_client.o
task3/solution/MessageQueues/obj/msq_server.o
task3/solution/~$Time.xlsx
task3/solution/FIFO/fifo_server
task3/solution/FIFO/obj/fifo_client.o
task3/solution/FIFO/obj/fifo_server.o
task3/solution/CommonFunctions/obj/CommonFunctions.o
