.vscode/settings.json
task3/solution/SharedMemory/shm_client
task3/solution/SharedMemory/shm_server
task3/solution/SharedMemory/obj/shm_client.o
task3/solution/SharedMemory/obj/shm_server.o
task3/solution/MessageQueues/msq_client
task3/solution/MessageQueues/msq_server
task3/solution/MessageQueues/obj/msq_client.o
task3/solution/MessageQueues/obj/msq_server.o
task3/solution/~$Time.xlsx
task3/solution/FIFO/fifo_server
task3/solution/FIFO/obj/fifo_client.o
task3/solution/FIFO/obj/fifo_server.o
task3/solution/CommonFunctions/obj/CommonFunctions.o
task3/solution/Time.xlsx
task3/solution/FIFO/fifo_client
task4/solution/Integrator
task4/solution/log.txt
task4/solution/obj/CommonFunctions.o
task4/solution/obj/Integral.o
task4/solution/obj/main.o
task4/solution/obj/MultiThreading.o
.vscode/tasks.json
task5/.vscode/settings.json
*.o
task5/solution/KVStorage
